<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
<script src="https://cdn.localizejs.com/localize.js"></script>

<script>!function(a){if(!a.Localize){a.Localize={};for(var e=["translate","untranslate","phrase","initialize","translatePage","setLanguage","getLanguage","detectLanguage","getAvailableLanguages","untranslatePage","bootstrap","prefetch","on","off"],t=0;t<e.length;t++)a.Localize[e[t]]=function(){}}}(window);</script>

<script>
 Localize.initialize({
  key: '6gmpfKwVvTWyP',
  rememberLanguage: true
 });
</script>
  </head>
  <body>
   <% for(var i in rows) 
                            { %>
    <h1><%= rows[i].State_name %></h1>
    <p>Magnitude to <%= rows[i].Magnitude_state %></p>
    <p>time to <%= rows[i].TimeOfOccurance_state %></p>
    <p>Longitude to <%= rows[i].Longitude_state %></p>
    <p>Latitude to <%= rows[i].Latitude_state %></p>
    <% } %>
    
  </body>
</html>